@import "../../styles/common";

.wrap {
  width: 254px;
  margin: 8px;
  border-radius: 6px;
  padding: 15px;
  position: relative;
  display: inline-block;
  text-align: left;
  animation: item 0.4s backwards;
  background-color: #fff;

  @include shadow;
}

.palette {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  font-size: 14px;

  .place {
    position: absolute;
    width: 100%;
    animation-name: place;

    & > span {
      position: absolute;
      text-align: center;
      transition: all 0.2s;
      bottom: 0;
      color: #fff;
      opacity: 0;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 4px 6px;
      border-radius: 0 3px 0 0;
      cursor: pointer;
      letter-spacing: 1px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    &:hover span {
      opacity: 1;
    }
  }

  .p0 {
    padding-bottom: 100%;
    animation-duration: 0s;
    border-radius: 20px 20px 0 0;
  }

  .p1 {
    padding-bottom: 85%;
    animation-duration: 0.2s;
    border-radius: 20px 20px 0 0;
  }

  .p2 {
    padding-bottom: 67%;
    animation-duration: 0.6s;
    border-radius: 20px 20px 0 0;
  }

  .p3 {
    padding-bottom: 41%;
    animation-duration: 1s;
  }
}

.utils {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like {
  height: 35px;
  border-radius: 4px;
  padding: 0 12px;
  transition: all 0.1s;
  text-align: center;
  border: 1px solid #e9f2f9;
  font-size: 14px;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &:hover {
    color: #000;
    background-color: #f5fcff;
  }

  & > i {
    margin: 0 4px 3px 0;
  }
}

.date {
  font-size: 12px;
  color: #899bb4;
}
