@import "../../styles/common";

.wrap {
  width: 254px;
  margin: 8px;
  border-radius: 6px;
  padding: 15px;
  position: relative;
  display: inline-block;
  text-align: left;
  animation: item 0.4s backwards;
  background-color: #fff;

  @include shadow;
}

.palette {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 6px;
  overflow: hidden;

  background-color: pink;
}

.utils {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like {
  height: 35px;
  border-radius: 4px;
  padding: 0 12px;
  transition: all 0.1s;
  text-align: center;
  border: 1px solid #e9f2f9;
  font-size: 14px;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &:hover {
    color: #000;
    background-color: #f5fcff;
  }

  & > i {
    margin: 0 4px 3px 0;
  }
}

.date {
  font-size: 12px;
  color: #899bb4;
}
