@import "/styles/common";

.wrap {
  width: 100%;
}

.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #fff;

  @include soft_shadow;

  .menu_wrap {
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container {
  max-width: 1080px;
  padding-top: 60px;
  margin: 0 auto;
  background-color: #fdfdfd;
}
